.card {
  float: left;
  border: solid 1px black;
/*  width: 100px;*/

  border-radius: 5px;
  /*height: 140px;*/
  margin-right: 20px;
}

.covered {
  background-color: black;
}

.hand {
  overflow: auto;
}

body {
 background-image: url("../img/blackjackbg.jpg");
}

h2 {
  color: white;
}

.moveRight {
  float: right;
}

.gameView {
  float: left;
}